* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit
}

.fix-profile {
    transition: 1s;
    width: 50%;
    position: fixed;
    height: 100vh;
    right: 0;
    top: 0;

    >img {
        position: inherit;
        width: 50%;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        transition: 1s;
    }
}

.active {
    opacity: 1;
}

.inactive {
    opacity: 0;
    background: transparent;
}

.my-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    >.introduce {
        width: 72%;
        height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

        > :nth-child(1) {
            font-size: 5rem;
            margin-bottom: 20px;

            animation: slideup 1.5s linear 1;
            font-weight: bold;
        }

        > :nth-child(2) {
            font-size: 1.6rem;
            animation: slideup 1.5s linear 1;
        }

        > :nth-child(3) {
            font-size: 1.2rem;

            animation: slideup 1.5s linear 1;
        }

        >a {
            color: black;
            width: fit-content;
            padding: 6px 16px;
            border-radius: 16px;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            transition: 0.3s;

            animation: slideup 1.5s linear 1;
        }

        >a:hover {
            background-color: black;
            color: white;
            font-weight: bold;
        }

        >.portfolioBtn {
            color: black;
            width: fit-content;
            padding: 6px 16px;
            border-radius: 16px;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            border: 0;
            transition: 0.3s;
            font-size: 16px;
            background-color: white;
            animation: slideup 1.5s linear 1;
        }


        >.portfolioBtn:hover {
            cursor: pointer;
            background-color: black;
            color: white;
            font-weight: bold;
        }
    }

    >.my-stack {
        width: 72%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        >.license {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: -120px;

            >span {
                margin-bottom: 16px;
                font-size: 2rem;
                font-weight: bold;
            }

            >ol {
                display: flex;
                flex-direction: column;
                gap: 6px;

                >li {
                    font-size: 1.2rem;
                }
            }
        }
    }

    .competition {
        width: 72%;
        height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        >.career {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            >span {
                margin-bottom: 16px;
                font-size: 2rem;
                font-weight: bold;
            }

            >ol {
                display: flex;
                flex-direction: column;
                gap: 8px;

                >li {
                    font-size: 1.2rem;
                }
            }
        }
    }

    .education {
        width: 72%;
        height: 85vh;
        display: flex;
        align-items: center;

        >.highschool {
            display: flex;
            flex-direction: column;
            gap: 12px;
            margin-top: -120px;

            >span {
                margin-bottom: 16px;
                font-size: 2rem;
                font-weight: bold;
            }

            >p {
                font-size: 1.2rem;
            }

            > :nth-child(2) {
                font-weight: bold;
            }

            > :nth-child(3) {
                font-weight: bold;
            }
        }
    }

    .inquiry {
        height: 100vh;
        width: 72%;
        display: flex;
        align-items: center;

        >.content {
            display: flex;
            flex-direction: column;
            gap: 16px;

            > :nth-child(1) {
                font-size: 2rem;
                font-weight: bold;
            }

            > :nth-child(2) {
                >span {
                    font-weight: bold;
                }
            }

            > :nth-child(3) {
                >span {
                    font-weight: bold;
                }
            }
        }
    }
}


@keyframes slideup {
    0% {
        opacity: 0;
        margin-left: 50px;
    }

    20% {
        opacity: 0;
        margin-left: 25px;
    }

    80% {
        opacity: 1;
        margin-left: 0px;
    }

    100% {
        margin-left: 0px;
    }
}

.topBtn {
    position: fixed;
    left: 50%;
    transform: translate(-125%, -25%);
    background-color: rgb(199, 199, 199);
    width: 75px;
    text-align: center;
    line-height: 75px;
    border-radius: 50%;
    height: 75px;
    bottom: 0;
    color: white;
    display: none;
    user-select: none;
    cursor: pointer;
    text-decoration: overline;
}

.portfolio {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(231, 231, 231);
    border-left: 2px solid #ccc;
    position: fixed;
    top: 0;
    left: 100%;
    transition: 1.5s;
    user-select: none;

    >h1 {
        margin: 32px;
    }

    >img {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(-100%, 100%);
    }


    >.portfolioBox {
        display: flex;
        gap: 32px;
        margin: 32px;
        width: 320px;
        height: 240px;
        border-radius: 16px;

        a {

            >.portfolioItem {
                text-align: center;


                font-weight: bold;

                >iframe {
                    transform-origin: top left;
                    border-radius: 16px;
                    border: 3px solid black;
                    pointer-events: none;
                }

            }
        }


    }

}

.activePortfolioBtn {
    cursor: pointer;
    background-color: black;
    color: white;
    font-weight: bold;
}